{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "careers/base.html" %}

{% block page_title %}Mozilla Careers — Experience an internship at Mozilla{% endblock %}
{% block page_desc %}Interns at Mozilla work alongside industry leaders on meaningful projects like online privacy protection.{% endblock %}

{% block body_class %}internships-page{% endblock %}

{% block careers_content %}
<section class="mzp-l-content c-hero mzp-t-dark">
  <div class="c-hero-body">
    <h1 class="c-hero-title">Make an Impact</h1>
    <div class="c-hero-desc">
      <p>Ready to work on meaningful projects that will reshape privacy and safety on the internet? Mozilla is the
        right spot for you.</p>
    </div>
    <p class="c-hero-cta">
      <a class="mzp-c-button mzp-t-dark" href="{{ url('careers.listings')|urlparams(position_type='Intern') }}">Apply
        for an internship</a>
    </p>
  </div>
</section>

<section class="l-internships-section">
  <div class="mzp-l-content c-section-heading">
    <h2>What to Expect</h2>
    <p>Besides working alongside the brightest and kindest minds— here’s what else you’ll do.</p>
  </div>
  <div class="mzp-l-content mzp-l-card-half">
    <div class="mzp-c-card mzp-c-card-medium">
      <div class="mzp-c-card-content">
        <h2 class="mzp-c-card-title">Contribute to important projects</h2>
        <div class="mzp-c-card-desc">
          <p>Working alongside fellow Mozillians, you'll be hands-on and all-in on projects. You’ll even have
            opportunities to meet with leaders across Mozilla and Pocket.</p>
        </div>
      </div>
    </div>
    <div class="mzp-c-card mzp-c-card-medium mzp-has-aspect-16-9">
      <div class="mzp-c-card-media-wrapper">
        <img src="{{ static('img/careers/internships/important-projects.jpg') }}"
          srcset="{{ static('img/careers/internships/important-projects-high-res.jpg') }} 1.5x" alt=""
          class="mzp-c-card-image">
      </div>
    </div>
  </div>

  <div class="mzp-l-content mzp-l-card-half">
    <div class="mzp-c-card mzp-c-card-medium mzp-has-aspect-16-9">
      <div class="mzp-c-card-media-wrapper">
        <img src="{{ static('img/careers/internships/team.jpg') }}"
          srcset="{{ static('img/careers/internships/team-high-res.jpg') }} 1.5x" alt="" class="mzp-c-card-image">
      </div>
    </div>
    <div class="mzp-c-card mzp-c-card-medium">
      <div class="mzp-c-card-content">
        <h2 class="mzp-c-card-title">Become part of the team</h2>
        <div class="mzp-c-card-desc">
          <p>At Mozilla, interns are essential members of our teams and work on initiatives that have true impact.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="mzp-l-content mzp-l-card-half">
    <div class="mzp-c-card mzp-c-card-medium">
      <div class="mzp-c-card-content">
        <h2 class="mzp-c-card-title">Gain a mentor</h2>
        <div class="mzp-c-card-desc">
          <p>You'll be mentored by a teammate, who will answer your questions and provide 1-on-1 support.</p>
        </div>
      </div>
    </div>
    <div class="mzp-c-card mzp-c-card-medium mzp-has-aspect-16-9">
      <div class="mzp-c-card-media-wrapper">
        <img src="{{ static('img/careers/internships/mentor.jpg') }}"
          srcset="{{ static('img/careers/internships/mentor-high-res.jpg') }} 1.5x" alt="" class="mzp-c-card-image">
      </div>
    </div>
  </div>

  <div class="mzp-l-content mzp-l-card-half">
    <div class="mzp-c-card mzp-c-card-medium mzp-has-aspect-16-9">
      <div class="mzp-c-card-media-wrapper">
        <img src="{{ static('img/careers/internships/benefits.jpg') }}"
          srcset="{{ static('img/careers/internships/benefits-high-res.jpg') }} 1.5x" alt="" class="mzp-c-card-image">
      </div>
    </div>
    <div class="mzp-c-card mzp-c-card-medium">
      <div class="mzp-c-card-content">
        <h2 class="mzp-c-card-title">Enjoy the benefits</h2>
        <div class="mzp-c-card-desc">
          <p>You’ll receive competitive pay, housing, transportation to/from one of our global internship locations,
            attendance at our All Hands, and more.</p>
        </div>
        <a href="https://blog.mozilla.org/careers/make-your-mark/?utm_source=www.mozilla.org"
          class="mzp-c-cta-link">Learn more</a>
      </div>
    </div>
  </div>

  <div class="mzp-l-content mzp-l-card-half">
    <div class="mzp-c-card mzp-c-card-medium">
      <div class="mzp-c-card-content">
        <h2 class="mzp-c-card-title">It’s not all work</h2>
        <div class="mzp-c-card-desc">
          <p>Get to know your fellow interns with several Mozilla-sponsored outings.</p>
        </div>
      </div>
    </div>
    <div class="mzp-c-card mzp-c-card-medium mzp-has-aspect-16-9">
      <div class="mzp-c-card-media-wrapper">
        <img src="{{ static('img/careers/internships/work.jpg') }}"
          srcset="{{ static('img/careers/internships/work-high-res.jpg') }} 1.5x" alt="" class="mzp-c-card-image">
      </div>
    </div>
    <div class="mzp-l-content centered">
      <a class="mzp-c-button" href="{{ url('careers.listings')|urlparams(position_type='Intern') }}">Apply for an
        internship</a>
    </div>
  </div>
</section>

<section class="internships-grey-section">
  <div class="l-internships-apply mzp-l-content c-section-heading">
    <h2>Application process</h2>
    <p>Invest in your future and the future of internet privacy with a Mozilla internship. We hire on a rolling basis
      from September through March, so please apply early!</p>
  </div>
  <div class="l-internships-apply mzp-l-content mzp-l-card-half">
    <div class="mzp-c-card-picto">
      <div class="mzp-c-card-picto-content" id="step-1">
        <h2 class="mzp-c-card-picto-title">Step 1</h2>
        <p class="mzp-c-card-picto-desc">Submit your application.</p>
      </div>
    </div>
    <div class="mzp-c-card-picto">
      <div class="mzp-c-card-picto-content" id="step-2">
        <h2 class="mzp-c-card-picto-title">Step 2</h2>
        <p class="mzp-c-card-picto-desc">Coding challenge or take home assignment.</p>
      </div>
    </div>
  </div>
  <div class="l-internships-apply mzp-l-content mzp-l-card-half">
    <div class="mzp-c-card-picto">
      <div class="mzp-c-card-picto-content" id="step-3">
        <h2 class="mzp-c-card-picto-title">Step 3</h2>
        <p class="mzp-c-card-picto-desc">Team and hiring manager interviews.</p>
      </div>
    </div>
    <div class="mzp-c-card-picto">
      <div class="mzp-c-card-picto-content" id="step-4">
        <h2 class="mzp-c-card-picto-title">Step 4</h2>
        <p class="mzp-c-card-picto-desc">Accept your offer!</p>
      </div>
    </div>
  </div>
  <div class="mzp-l-content centered">
    <a class="mzp-c-button" href="{{ url('careers.listings')|urlparams(position_type='Intern') }}">Apply for an
      internship</a>
  </div>
</section>

<section class="l-internships-section">
  <div class="mzp-l-content c-section-heading">
    <h2>Meet some of our past Mozilla interns</h2>
    <p>Hear what they have to say about their experience.</p>
  </div>

  <div class="mzp-l-card-third mzp-l-content">
    <div class="mzp-c-card-picto">
      <div class="mzp-c-card-picto-content" id="quote-1">
        <blockquote class="mzp-c-card-picto-title">
          “This summer feels like the start of an even longer-term collaboration.”
        </blockquote>
        <cite>— Julia Cambre</cite>
        <p class="mzp-c-card-picto-desc">
          CS PhD student at Carnegie Mellon University<br>
          Mozilla Project: Speech and Voice Technology
        </p>
      </div>
    </div>

    <div class="mzp-c-card-picto">
      <div class="mzp-c-card-picto-content" id="quote-2">
        <blockquote class="mzp-c-card-picto-title">
          <p>“I’m surprised at how down-to-earth and helpful people are at Mozilla.” </p>
        </blockquote>
        <cite>— Abdoulaye Oumar Ly</cite>
        <p class="mzp-c-card-picto-desc">
          CS Graduate student at Université de Moncton<br>
          Mozilla Project: Fission (site isolation)
        </p>
      </div>
    </div>

    <div class="mzp-c-card-picto">
      <div class="mzp-c-card-picto-content" id="quote-3">
        <blockquote class="mzp-c-card-picto-title">
          <p>“It’s been really interesting to see how people consider something from different angles.”</p>
        </blockquote>
        <cite>— Maliha Islam</cite>
        <p class="mzp-c-card-picto-desc">
          ECE Undergratuate student at University of Toronto<br>
          Mozilla Project: Color Accessibility: Firefox Developer Tools
        </p>
      </div>
    </div>
  </div>

  <div class="mzp-l-content centered">
    <a class="mzp-c-button" href="{{ url('careers.listings')|urlparams(position_type='Intern') }}">Apply for an
      internship</a>
  </div>
</section>
{% endblock %}
