{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% from "macros.html" import google_play_button with context %}
{% from "macros-protocol.html" import split, call_out_compact with context %}

{% extends "firefox/base/base-protocol.html" %}

{% set show_firefox_app_store_banner = switch('firefox-app-store-banner') %}

{% block page_css %}
  {{ css_bundle('protocol-split') }}
  {{ css_bundle('protocol-emphasis-box') }}
  {{ css_bundle('firefox-mobile') }}

  {% if show_firefox_app_store_banner %}
    {{ css_bundle('firefox-app-store-banner') }}
  {% endif %}
{% endblock %}

{% block page_title %}{{ ftl('firefox-mobile-download-the-firefox-browser') }} | {{ ftl('firefox-mobile-firefox') }}{% endblock %}
{% block page_desc %}{{ ftl('firefox-mobile-firefox-browser-for-mobile') }}{% endblock %}
{% block page_og_title %}{{ ftl('firefox-mobile-get-the-mobile-browser-built') }} | {{ ftl('firefox-mobile-firefox') }}{% endblock %}
{% block page_og_desc %}{{ ftl('firefox-mobile-check-out-firefox-again-its') }}{% endblock %}

{% set show_send_to_device = LANG in settings.SEND_TO_DEVICE_LOCALES %}
{% set android_url = firefox_adjust_url('android', 'mobile-page') %}
{% set ios_url = firefox_adjust_url('ios', 'mobile-page') %}

{% block page_banner %}
  {% if show_firefox_app_store_banner %}
    {% include 'includes/banners/mobile/firefox-app-store.html' %}
  {% endif %}
{% endblock %}

{% block site_header %}
  {% with hide_nav_download_button=True %}
    {% include 'includes/protocol/navigation/navigation.html' %}
  {% endwith %}
{% endblock %}

{% block sub_navigation %}
<nav class="c-sub-navigation">
  <div class="mzp-l-content">
    <div class="c-sub-navigation-content is-summary">
      <h2 class="c-sub-navigation-title"><a href="{{ url('firefox.browsers.mobile.index') }}" data-link-type="nav" data-link-position="subnav" data-link-name="Firefox for Mobile">{{ ftl('sub-navigation-firefox-for-mobile', fallback='navigation-firefox-browser-for-mobile') }}</a></h2>
      <ul class="c-sub-navigation-list is-details is-closed">
        <li class="c-sub-navigation-item"><a href="https://support.mozilla.org/products/ios/?utm_source=www.mozilla.org&utm_medium=referral&utm_campaign=nav&utm_content=firefox-mobile" data-link-type="nav" data-link-position="subnav" data-link-name="iOS Support">{{ ftl('sub-navigation-ios-support', fallback='navigation-ios-support') }}</a></li>
        <li class="c-sub-navigation-item"><a href="https://support.mozilla.org/products/mobile/?utm_source=www.mozilla.org&utm_medium=referral&utm_campaign=nav&utm_content=firefox-mobile" data-link-type="nav" data-link-position="subnav" data-link-name="Android Support">{{ ftl('sub-navigation-android-support', fallback='navigation-android-support') }}</a></li>
        <li class="c-sub-navigation-item"><a href="https://addons.mozilla.org/android/?utm_source=www.mozilla.org&utm_medium=referral&utm_campaign=nav&utm_content=firefox-mobile" data-link-type="nav" data-link-position="subnav" data-link-name="Android Addons">{{ ftl('sub-navigation-android-add-ons', fallback='sub-navigation-android-addons') }}</a></li>
        <li class="c-sub-navigation-item"><a href="{{ url('firefox.browsers.chromebook') }}" data-link-type="nav" data-link-position="subnav" data-link-name="Chromebook">{{ ftl('sub-navigation-chromebook') }}</a></li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
  <main>
    {% call split(
      block_class='c-page-header mzp-l-split-center-on-sm-md',
      media_class='mzp-l-split-h-center',
      media_after=True,
      media_include='firefox/mobile/includes/s2d-hero.html'
    ) %}
      <h1><span class="mzp-c-wordmark mzp-t-wordmark-md mzp-t-product-firefox">{{ ftl('firefox-mobile-firefox-browser') }}</span></h1>
      <h2 class="mzp-u-title-lg">{{ ftl('firefox-mobile-get-automatic-privacy-on-mobile') }}</h2>
      <p class="c-tagline">{{ ftl('firefox-mobile-super-fast-private-by-default') }}</p>

      <div class="mobile-download-buttons-wrapper">
        <ul class="mobile-download-buttons firefox" id="mobile-download-buttons-firefox_1">
          <li class="android">
            {{ google_play_button(href=android_url, id='playStoreLink-primary') }}
          </li>
          <li class="ios">
            <a id="appStoreLink-primary" href="{{ ios_url }}" data-link-type="download" data-download-os="iOS">
              <img src="{{ l10n_img('firefox/ios/btn-app-store.svg') }}" alt="{{ ftl('download-button-download-app-store') }}" width="152" height="45">
            </a>
          </li>
        </ul>
      </div>
    {% endcall %}

    <section class="c-private t-private mzp-t-firefox">
      <div class="mzp-l-content">
        <h2>{{ ftl('firefox-mobile-block-online-trackers-and') }}</h2>
        <div class="c-private-cols">
          <div class="c-private-col">
            <img src="{{ static('img/firefox/mobile/protocol/screen-private.svg') }}" alt="" height="331" width="163">
            <h3>{{ ftl('firefox-mobile-privacy-protection-by-default') }}</h3>
            <p>{{ ftl('firefox-mobile-leave-no-trace-with-private', url=url('firefox.features.private-browsing')) }}</p>
          </div>
          <div class="c-private-col">
            <img src="{{ static('img/firefox/mobile/protocol/screen-tracking.svg') }}" alt="" height="331" width="163">
            <h3>{{ ftl('firefox-mobile-stop-companies-from-following') }}</h3>
            <p>{{ ftl('firefox-mobile-stay-off-their-radar-with', url=url('firefox.features.adblocker')) }}</p>
          </div>
        </div>
      </div>
    </section>

    <section class="t-account">
      {% call split(
        image=resp_img('img/firefox/mobile/protocol/account.svg', optional_attributes={ 'class': 'mzp-c-split-media-asset'}),
        block_class='mzp-l-split-reversed mzp-t-split-nospace',
        theme_class='mzp-t-background-secondary',
        media_class='mzp-l-split-h-center',
      ) %}
        <h2>{{ ftl('firefox-mobile-discover-products-that-keep') }}</h2>
        <p>{{ ftl('firefox-mobile-sync-your-history-passwords') }}</p>
        <a class="mzp-c-cta-link" href="{{ url('firefox.sync') }}" data-link-type="link">{{ ftl('ui-learn-more') }}</a>
      {% endcall %}
    </section>

    <section class="t-android-only">
      {% if ftl_has_messages('firefox-mobile-customize-your-firefox-mobile-truncated') %}
        <div class="t-extend">
          {% set extend_title = '<span>'|safe + ftl('firefox-mobile-android-only') + '</span><br>'|safe + ftl('firefox-mobile-make-android-your-own') %}
          {% call split(
            image=resp_img('img/firefox/mobile/protocol/screen-frame.svg', optional_attributes={ 'class': 'mzp-c-split-media-asset'}),
            block_class='mzp-l-split-reversed',
            media_class='mzp-l-split-h-center',
          ) %}
            <h2>{{ extend_title }}</h2>
            <p>{{ ftl('firefox-mobile-customize-your-firefox-mobile-truncated') }}</p>
          {% endcall %}
        </div>
      {% endif %}
      <div class="t-theme">
        {% set theme_title = '<span>'|safe + ftl('firefox-mobile-android-only') + '</span><br>'|safe + ftl('firefox-mobile-find-it-fast-with-a-smart') %}
        {% call split(
          image=resp_img('img/firefox/mobile/protocol/screen-frame.svg', optional_attributes={ 'class': 'mzp-c-split-media-asset'}),
          media_class='mzp-l-split-h-center'
        ) %}
        <h2>{{ theme_title }}</h2>
        <p>{{ ftl('firefox-mobile-firefox-anticipates-your-needs') }}</p>
        {% endcall %}
      </div>
    </section>

    <section class="c-hero-secondary">
      <div class="mzp-l-content">
        <h2 class="mzp-c-wordmark mzp-t-wordmark-lg mzp-t-product-firefox">{{ ftl('firefox-mobile-firefox-browser') }}</h2>

        <div class="c-hero-desc">
          <h3>{{ ftl('firefox-mobile-the-privacy-you-deserve-the') }}</h3>
        </div>

        <div class="header-product-ctas hide-from-legacy-ie">
          <div class="c-inline-form mzp-c-emphasis-box">
            <h3 class="c-inline-form-title">{{ ftl('firefox-mobile-get-firefox-for-mobile') }}</h3>
          {% if show_send_to_device %}
            <p class="c-inline-form-body">{{ ftl('firefox-mobile-send-a-download-link-to-your') }}</p>
            {{ send_to_device(include_title=False, message_set='fx-mobile-download-desktop', dom_id='s2d-secondary') }}
          {% else %}
            <p class="c-inline-form-body">{{ ftl('firefox-mobile-scan-the-qr-code-to-get-started') }}</p>
            <div class="qr-code-wrapper">
              <img src="{{ static('img/firefox/mobile/protocol/qr-firefox.png') }}"
                  id="firefox-qr"
                  data-mozillaonline-link="{{ static('img/firefox/mobile/protocol/qr-firefox-mozillaonline.png') }}"
                  alt="{{ ftl('firefox-mobile-scan-alt-text') }}">
            </div>
          {% endif %}
          </div>
        </div>

        <div class="mobile-download-buttons-wrapper">
          <ul class="mobile-download-buttons firefox" id="mobile-download-buttons-firefox_2">
            <li class="android">
              {{ google_play_button(href=android_url, id='playStoreLink-secondary') }}
            </li>
            <li class="ios">
              <a id="appStoreLink-secondary" href="{{ ios_url }}" data-link-type="download" data-download-os="iOS">
                <img src="{{ l10n_img('firefox/ios/btn-app-store.svg') }}" alt="{{ ftl('download-button-download-app-store') }}" width="152" height="45">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </main>
{% endblock %}

{% block structured_data %}
  {
    "@context": "https://schema.org/",
    "@graph": [
      {% include 'includes/structured-data/software/firefox-android-software.json' %}
      ,
      {% include 'includes/structured-data/software/firefox-ios-software.json' %}
    ]
  }
{% endblock %}

{% block js %}
  {{ js_bundle('firefox-mobile') }}

  {% if show_firefox_app_store_banner %}
    {{ js_bundle('firefox-app-store-banner') }}
  {% endif %}
{% endblock %}
